@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.FaturaKalem>

@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<br />
<h2>Fatura Detay Sayfası</h2>
<br />
@*<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.departman</li>
</ol>*@
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
        @*<th>Güncelle</th>
            <th>Detaylar</th>*@
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Aciklama</td>
            <td>@item.Miktar</td>
            <td>@item.BirimFiyat</td>
            <td>@item.Tutar</td>
            @*<td><a href="/Departman/DepartmanPersonelSatis/@item.Personelid" class="btn btn-success">Satışlar</a></td>*@
            @*<td><a href="/Departman/DepartmanGuncelle/@item.Departmanid" class="btn btn-success">Güncelle</a></td>
                <td><a href="/Departman/DepartmanDetay/@item.Departmanid" class="btn btn-dark">Detaylar</a></td>*@

        </tr>
    }



</table>
<a href="/Fatura/FaturaKalemEkle/" class="btn btn-primary">Yeni Kalem Girişi</a>