@model MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar


@{
    ViewBag.Title = "FaturaGüncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h3>Fatura Güncelleme Sayfası</h3>
<br />
<form class="form-group" method="post">
    @Html.Label("Fatura ID")
    @Html.TextBoxFor(x => x.Faturaid, new { @class = "form-control", @disabled = "disabled" })
    <br />
    @Html.Label("Fatura Seri No")
    @Html.TextBoxFor(x => x.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Sıra No")
    @Html.TextBoxFor(x => x.FaturaSıraNo, new { @class = "form-control" })
    <br />
    @Html.Label("Vergi Dairesi")
    @Html.TextBoxFor(x => x.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Tarihi")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Fatura Saati")
    @Html.TextBoxFor(x => x.Saat, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Eden")
    @Html.TextBoxFor(x => x.TeslimEden, new { @class = "form-control" })
    <br />
    @Html.Label("Teslim Alan")
    @Html.TextBoxFor(x => x.TeslimAlan, new { @class = "form-control" })
    <br />

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>