@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.FaturaSeriNo</td>
            <td>@item.FaturaSıraNo</td>
            <td>@item.VergiDairesi</td>
            <td>@item.Tarih</td>
            <td>@item.Saat</td>
            <td>@item.TeslimEden</td>
            <td>@item.TeslimAlan</td>
            <td>@item.Toplam</td>
            <td><a href="/Fatura/FaturaGuncelle/@item.Faturaid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Fatura/FaturaDetay/@item.Faturaid" class="btn btn-dark">Detaylar</a></td>

        </tr>
    }



</table>
<a href="/Fatura/FaturaEkle/" class="btn btn-primary">Yeni Fatura Girişi</a>

