
@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Müşteriler Tablosu</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Ara..">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Müşteri Ad Soyad</th>
                            <th>Şehir</th>
                            <th>Mail</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 0; }
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.CarilerAd @item.CarilerSoyad</td>
                                <td>@item.CarilerSehir</td>
                                <td>@item.CarilerMail</td>
                          
                                
                            </tr>

                        }



                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
