@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<br />
<h2>Ürünler</h2>
<br />

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori Adı</th>
        <th>Görsel</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat</td>
            <td>@item.SatisFiyat</td>
            <td>@item.Kategori.KategoriAd</td>
            <td>@item.UrunGorsel</td>
            <td>@item.Durum</td>
            <td><a href="/Urun/UrunSil/@item.Urunid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGuncelle/@item.Urunid" class="btn btn-success">Güncelle</a></td>

        </tr>
    }



</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Ürün Ekle</a>
