@model List<MvcOnlineTicariOtomasyon.Models.Siniflar.Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    int count = 0;
}

<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
 {
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
 }
<br />

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat ₺</td>
            <td>@item.SatisFiyat ₺</td>
            <td>@item.Kategori.KategoriAd</td>
            <td><a href="/Urun/UrunSil/@item.Urunid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGuncelle/@item.Urunid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Urun/SatisYap/@item.Urunid" class="btn btn-default" style="background-color:darkorange;">Satış Yap</a></td>

        </tr>
        }



</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Ürün Ekle</a>
