@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelGuncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h3>Personel Güncelleme Sayfası</h3>
<br />
<form class="form-group" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x=>x.Personelid)
    @Html.Label("Personel Adı")
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.Label("Personel Soyadı")
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />

    @Html.Label("Departman Seç")
    @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.departmanList, new { @class = "form-control" })
    <br />

    @Html.Label("Personel Görseli")
    <input type="file" name="PersonelGorsel" />
    <br />

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

